Binaries
DerivedDataCache
Intermediate
Saved
Build
Content
Config
**/Landscape
**/StarterContent
**/Assets


.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

**/Ins.md

*.png
*.jpg
*.jpeg
